:root {
  --clr-main: #d2001a;
  --clr-accent: #ffde00;
  --clr-light: #fffae7;
  --clr-grey: #efefef;
  --clr-dark: #181925;
  --clr-scoretext: #8d99ae;
  --clr-btn: #ef233c;
  --clr-btnhover: #d90429;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--clr-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  font-family: "Blinker", sans-serif;
  width: 100%;
  background-color: var(--clr-accent);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

header > p {
  color: var(--clr-main);
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
}

main {
  background-color: var(--clr-light);
}

.scoreboard {
  border: 3px solid var(--clr-scoretext);
  border-radius: 5px;
  width: 300px;
  margin: 50px auto 25px auto;
  color: white;
  font-family: sans-serif;
  font-size: 40px;
  text-align: center;
  padding: 10px 20px;
  position: relative;
  background-color: var(--clr-dark);
}

.rules > p {
  text-align: center;
  margin-bottom: 20px;
  color: var(--clr-main);
  font-family: sans-serif;
}

.badge {
  color: var(--clr-scoretext);
  font-size: 1rem;
  padding: 2px 10px;
}

#player-label {
  position: absolute;
  top: 20px;
  left: 10px;
  transition: 0.2s ease-in-out;
}

#cpu-label {
  position: absolute;
  top: 20px;
  right: 10px;
  transition: 0.2s ease-in-out;
}

.vs {
  font-size: 20px;
}

.result {
  font-size: 30px;
  color: var(--clr-dark);
  margin-top: 25px;
}

.result > p {
  text-align: center;
  font-family: "Blinker", sans-serif;
  font-weight: 400;
}

.choices {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

.choice-btn {
  border: none;
  background-color: var(--clr-btn);
  color: #edf2f4;
  padding: 10px 30px;
  transition: all 0.3s ease;
  margin: 0px 5px;
  font-family: "Blinker", sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.choice-btn:hover {
  background-color: var(--clr-btnhover);
  color: white;
}

.winner-badge {
  color: green;
  transition: all 1s ease-out;
}

.loser-badge {
  color: red;
  transition: all 1s ease-out;
}

#history {
  width: 500px;
  margin: 100px auto 0px auto;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  text-align: center;
  background-color: var(--clr-accent);
  border-radius: 10px;
  padding: 25px 0px 25px 0px;
}

.history-title {
  color: var(--clr-main);
  font-family: "Blinker", sans-serif;
  font-size: 15px;
  font-weight: 700;
}

.result-line {
  padding: 10px 0px;
  color: var(--clr-dark);
  font-family: sans-serif;
}
