* {
  margin: 0;
  padding: 0;
}

.title {
  margin: auto;
  padding: 25px;
  background-color: yellow;
  text-align: center;
}

.instruction {
  margin-top: 50px;
}

.btn-cont {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: pink;
}

button {
  border: none;
  padding: 15px 30px;
  text-align: center;
  margin: 20px 10px;
  background-color: rgb(56, 56, 56);
  color: white;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: bold;
}

button:hover {
  transition-duration: 0.3s;
  background-color: rgb(0, 0, 0);
}

.results {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  margin: 25px 25%;
}

.score {
  margin-left: 0.5rem;
  font-size: 0.75rem;
}